# Dependencies
node_modules/
*/node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Environment & Credentials
.env
.env.*
*.env
atlas-credentials.env
server/.env

# Server Uploads & Database
server/data/
server/uploads/*
!server/uploads/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
