PORT=5000
NODE_ENV=development
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d

# 1. Admin Login Credentials
ADMIN_USERNAME=admin_sadeeq
ADMIN_PASSWORD=Sadeeq@Admin2026!
ADMIN_NAME=ایڈمن (مدیرِ اعلیٰ)

# 2. Teacher Login Credentials
TEACHER_USERNAME=teacher_sadeeq
TEACHER_PASSWORD=Sadeeq@Teacher2026!
TEACHER_NAME=استاذ
